<div class="card">
    <div class="card__item">
        <div class="card__inner">
            <div class="card__img">
                <img src="{{ 'assets/images/about/4.jpg'|theme }}" alt="">
            </div>
            <div class="card__text">Строительство дорожного полотна</div>
        </div>
    </div>

    <div class="card__item">
        <div class="card__inner">
            <div class="card__img">
                <img src="{{ 'assets/images/about/5.jpg'|theme }}" alt="">
            </div>
            <div class="card__text">поддержание уровня транспортно-эксплуатационного состояния автомобильных дорог</div>
        </div>
    </div>

    <div class="card__item">
        <div class="card__inner">
            <div class="card__img">
                <img src="{{ 'assets/images/about/6.jpg'|theme }}" alt="">
            </div>
            <div class="card__text">Высокий профессиональный уровень инженерно-технических работников</div>
        </div>
    </div>
</div>