[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "advantage"
postsPerPage = 6
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "advantage"
==
{% set advantage = blogPosts.posts %}
<div class="card">

    {% for advantage in advantage %}
    <div class="card__item">
        <div class="card__inner">
            <div class="card__img">
                {% for image in advantage.featured_images|slice(0,1) %}
                    <img src="{{ image.path }}" alt="{{ advantage.title }}">
                {% endfor %}
            </div>
            <div class="card__text">
                <div class="social">
                    <a class="social__item" href="{{ advantage.url }}" target="_blank">
                        <i class="fas fa-link"></i>
                    </a>
                </div>
                <div class="social__text">
                    <p>Перейти на страницу</p>
                </div>
            </div>
        </div>
        <div class="card__info">
            <div class="card__name">{{ advantage.title }}</div>
            <div class="card__prof">{{ advantage.excerpt }}</div>
        </div>
    </div><!-- /.card__item -->
    {% else %}
        {{ noPostsMessage }}

    {% endfor %}
</div><!-- /.card -->