[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "blog"
postsPerPage = 3
noPostsMessage = "Статей нет"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "post"
==

{% set posts = blogPosts.posts %}

<div class="blog">

    {% for post in posts %}
    <div class="blog__item">
        <div class="blog__header">
            <a href="{{ post.url }}">
                {% for image in post.featured_images|slice(0,1) %}
                    <img class="blog__photo" src="{{ image.path }}" alt="{{ post.title }}">
                {% endfor %}
            </a>
            <div class="blog__date">
                <div class="blog__date-day">{{ post.published_at|date('d') }}</div>
                {{ post.published_at|date('M') }}
            </div>
        </div>
        <div class="blog__content">
            <h3 class="blog__title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h3>
            <div class="blog__text">{{ post.excerpt }}</div>
        </div>
        <div class="blog__footer">
            <div class="blog-stat">
                <span class="blog-stat__item">
                    <i class="far fa-eye"></i> {{ post.views }}
                </span>
                <span class="blog-stat__item">
                    <i class="far fa-comment-dots"></i> 17
                </span>
            </div>
        </div>
    </div>
     {% else %}
        {{ noPostsMessage }}

    {% endfor %}

    <!-- <div class="blog__item">
        <div class="blog__header">
            <a href="#">
                <img class="blog__photo" src="{{ 'assets/images/blog/2.jpg'|theme }}" alt="">
            </a>
            <div class="blog__date">
                <div class="blog__date-day">06</div>
                Сентября
            </div>
        </div>
        <div class="blog__content">
            <h3 class="blog__title">
                <a href="#">ГП “Дорожный контроль качества” подтвердил высокое качество дорог, построенных ТОВ "ШЛЯХБУД-5"</a>
            </h3>
            <div class="blog__text">Компания "ШЛЯХБУД-5" успешно прошла проверку ГП “Дорожный контроль качества”. Проверка проводилась 29 августа 2018 г., инспектировались выравнивающие слои покрытия на участках: –    км 104+530 – км 106+416,   протяженностью – 1,886 км, площадью –  13567 м2, –    км 33+057 – км 35+854, протяженностью – 2,797 км, площадью –  19579 м2. ООО "ШЛЯХБУД-5" […]</div>
        </div>
        <div class="blog__footer">
            <div class="blog-stat">
                <span class="blog-stat__item">
                    <i class="far fa-eye"></i> 235
                </span>
                <span class="blog-stat__item">
                    <i class="far fa-comment-dots"></i> 12
                </span>
            </div>
        </div>
    </div>

    <div class="blog__item">
        <div class="blog__header">
            <a href="#">
                <img class="blog__photo" src="{{ 'assets/images/blog/3.jpg'|theme }}" alt="">
            </a>
            <div class="blog__date">
                <div class="blog__date-day">31</div>
                Августа
            </div>
        </div>
        <div class="blog__content">
            <h3 class="blog__title">
                <a href="#">Ремонт автодороги Р-51, работы продолжаются возле Первомайска</a>
            </h3>
            <div class="blog__text">Компания "ШЛЯХБУД-5" продолжает ремонт автомобильной дороги Р-51 Мерефа-Лозовая-Павлоград км 3+000 – км 132+000. На конец августа выполнено: фрезирования на участке 13,07 км, 12,38 км выравнивающего слоя, 2,14 км верхнего слоя, укреплены 0,9 км обочин. Текущие работы выполняются возле Первомайска.  </div>
        </div>
        <div class="blog__footer">
            <div class="blog-stat">
                <span class="blog-stat__item">
                    <i class="far fa-eye"></i> 477
                </span>
                <span class="blog-stat__item">
                    <i class="far fa-comment-dots"></i> 28
                </span>
            </div>
        </div>
    </div> -->
</div><!-- /.blog -->