<div class="clients">
    <div class="clients__item">
        <img class="clients__photo" src="{{ 'assets/images/clients/1.png'|theme }}" alt="">
        <div class="clients__content">
            <div class="clients__name">Николай Тимофеев</div>
            <div class="clients__prof">Генеральный директор</div>
            <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
        </div>
    </div>

    <div class="clients__item">
        <img class="clients__photo" src="{{ 'assets/images/clients/2.png'|theme }}" alt="">
        <div class="clients__content">
            <div class="clients__name">Сергей Борисович</div>
            <div class="clients__prof">Финансовый директор</div>
            <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
        </div>
    </div>

    <div class="clients__item">
        <img class="clients__photo" src="{{ 'assets/images/clients/3.jpe'|theme }}g" alt="">
        <div class="clients__content">
            <div class="clients__name">Виталий Вакарчук</div>
            <div class="clients__prof">Заместитель директора по экономике</div>
            <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
        </div>
    </div>

    <div class="clients__item">
        <img class="clients__photo" src="{{ 'assets/images/clients/5.jpg'|theme }}" alt="">
        <div class="clients__content">
            <div class="clients__name">Карен Сейранов</div>
            <div class="clients__prof">Главный инженер</div>
            <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
        </div>
    </div>

    <div class="clients__item">
        <img class="clients__photo" src="{{ 'assets/images/clients/6.jpg'|theme }}" alt="">
        <div class="clients__content">
            <div class="clients__name">Иван Ковалив</div>
            <div class="clients__prof">Заместитель главного механика</div>
            <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
        </div>
    </div>

    <div class="clients__item">
        <img class="clients__photo" src="{{ 'assets/images/clients/7.jpg'|theme }}" alt="">
        <div class="clients__content">
            <div class="clients__name">Алексей Алексеенко</div>
            <div class="clients__prof">Начальник юридического отдела</div>
            <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
        </div>
    </div>
</div><!-- /.clients -->