[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "blog"
postsPerPage = 3
noPostsMessage = "Статей нет"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "post"
==
<footer class="footer" id="footer">
    <div class="container">

        <div class="section__header">
            {% component 'contenteditor' file="footer/section/suptitle.htm" fixture="h3" class="section__suptitle" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

            {% component 'contenteditor' file="footer/section/title.htm" fixture="h2" class="section__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
        </div>

        <div class="footer__inner">
            <div class="footer__col  footer__col--first">
                {% component 'contenteditor' file="footer/logo.htm" fixture="div" class="footer__logo" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                {% component 'contenteditor' file="footer/text.htm" fixture="div" class="footer__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                <div class="footer__social">
                    <div class="footer__social-header">
                        <b>15k</b> followers
                    </div>
                    <div class="footer__social-content">
                        Follow Us:
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                
                {% component 'formSubscribe' %}
            </div><!-- /.footer__col -->

            <div class="footer__col  footer__col--second">
                {% component 'contenteditor' file="footer/news.htm" fixture="div" class="footer__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                {% set posts = blogPosts.posts %}
                <div class="blogs">

                    {% for post in posts %}
                    <div class="blogs__item">
                        {% for image in post.featured_images|slice(0,1) %}
                            <img class="blogs__img" src="{{ image.path }}" alt="{{ post.title }}">
                        {% endfor %}
                        <div class="blogs__content">
                            <a class="blogs__title" href="{{ post.url }}">{{ post.title }}</a>
                            <div class="blogs__date">{{ post.published_at|date('d M Y') }}</div>
                        </div>
                    </div>
                    {% else %}
                        {{ noPostsMessage }}

                    {% endfor %}
                </div><!-- /.blogs -->
            </div>

            <div class="footer__col  footer__col--third">
                {% component 'contenteditor' file="footer/insta.htm" fixture="div" class="footer__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                <div class="instagram">
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="{{ 'assets/images/instagram/1.jpg'|theme }}" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="{{ 'assets/images/instagram/2.jpg'|theme }}" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="{{ 'assets/images/instagram/3.jpg'|theme }}" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="{{ 'assets/images/instagram/4.jpg'|theme }}" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="{{ 'assets/images/instagram/5.jpg'|theme }}" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="{{ 'assets/images/instagram/6.jpg'|theme }}" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="{{ 'assets/images/instagram/7.jpg'|theme }}" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="{{ 'assets/images/instagram/8.jpg'|theme }}" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="{{ 'assets/images/instagram/9.jpg'|theme }}" alt="">
                    </a>
                </div>
            </div>

        </div><!-- /.footer__inner -->

    </div><!-- /.container -->

    <div class="copyright">
            <address class="copyright__inner">

                <div class="copyright__item">
                    {% component 'contenteditor' file="footer/copyright/item1/title.htm" fixture="span" class="copyright__item-title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                    <div class="copyright__location">
                        <i class="fas fa-map-marker-alt"></i>
                        {% component 'contenteditor' file="footer/copyright/item1/location.htm" fixture="span" class="" tools="" %}
                    </div>

                    <div class="copyright__email">
                        <i class="fas fa-envelope"></i>
                        {% component 'contenteditor' file="footer/copyright/item1/mail.htm" fixture="span" class="" tools="" %}
                    </div>

                    <div class="copyright__phone">
                        <i class="fas fa-phone"></i>
                        {% component 'contenteditor' file="footer/copyright/item1/name.htm" fixture="span" class="copyright__name" tools="" %}
                    </div>
                    {% component 'contenteditor' file="footer/copyright/item1/phone-num.htm" fixture="span" class="copyright__phone-number" tools="" %}
                </div> <!-- /copyright__item -->

                <div class="copyright__item">
                    {% component 'contenteditor' file="footer/copyright/item2/title.htm" fixture="span" class="copyright__item-title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                    <div class="copyright__phone">
                        <i class="fas fa-phone"></i>
                        {% component 'contenteditor' file="footer/copyright/item2/name.htm" fixture="span" class="copyright__name" tools="" %}
                    </div>
                    {% component 'contenteditor' file="footer/copyright/item2/phone-num.htm" fixture="span" class="copyright__phone-number" tools="" %}
                </div> <!-- /copyright__item -->

                <div class="copyright__item">
                    {% component 'contenteditor' file="footer/copyright/item3/title.htm" fixture="span" class="copyright__item-title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                    <div class="copyright__phone">
                        <i class="fas fa-phone"></i>
                        {% component 'contenteditor' file="footer/copyright/item3/name.htm" fixture="span" class="copyright__name" tools="" %}
                    </div>
                    {% component 'contenteditor' file="footer/copyright/item3/phone-num.htm" fixture="span" class="copyright__phone-number" tools="" %}

                     <div class="copyright__email">
                        <i class="fas fa-envelope"></i>
                        {% component 'contenteditor' file="footer/copyright/item3/mail.htm" fixture="span" class="" tools="" %}
                    </div>

                </div> <!-- /copyright__item -->

            </address> <!-- /copyright__inner -->
        </div>
</footer>