<header class="header {% if this.page.id != 'home' %} active {% endif %}" id="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="{{ 'home'|page }}">ШляхБуд-5</a>

            <nav class="nav" id="nav">
                <a class="nav__link" href="#" data-scroll="#about">О компании</a>
                <a class="nav__link" href="#" data-scroll="#services">Услуги</a>
                <a class="nav__link" href="#" data-scroll="#advantages">Преимущества</a>
                <a class="nav__link" href="#" data-scroll="#works">Проекты</a>
                <a class="nav__link" href="#" data-scroll="#partners">Партнеры</a>
                <a class="nav__link" href="#" data-scroll="#blog">Новости</a>
                <a class="nav__link" href="#" data-scroll="#footer">Контакты</a>
                <a class="nav__link" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                <a class="nav__link" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </nav>

            <button class="nav-toggle" id="nav_toggle" type="button">
                <span class="nav-toggle__item">Menu</span>
            </button>
        </div>
    </div>
</header>