[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "infos"
postsPerPage = 1
noPostsMessage = "Записей не найдено"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "info"
==
{% set infos = blogPosts.posts %}

<div class="intro" id="intro">
    <div class="container">

        {% for info in infos %}
        <div class="intro__inner">
            {% component 'contenteditor' file="intro/suptitle.htm" fixture="h2" class="intro__suptitle" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            <h1 class="intro__title">{{ info.title }}</h1>

            <a class="btn" href="{{ info.url }}">Узнать больше о нас</a>
            <p class="intro__text">{{ info.excerpt }}</p>
        </div>
        {% else %}
            {{ noPostsMessage }}

        {% endfor %}
    </div>
</div><!-- /.intro -->