<section class="section  section--map">
    <div class="container">
        <div class="map">
            <h2 class="map__title">
                <div><i class="fas fa-map-marker-alt"></i></div>
                <a href="https://goo.gl/maps/F8YpeCGqwrG2" target="_blank">Open Map</a>
            </h2>
        </div>
    </div>
</section>