<div class="partners">
    <div data-slider>
        <div class="partners__offer">
            <a class="partners__item" href="https://uhe.gov.ua" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/1.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Укргидроэнерго</h3>
            </a>

            <a class="partners__item" href="https://ugv.com.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/2.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Укргаздобыча</h3>
            </a>

            <a class="partners__item" href="https://uges.com.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/3.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Укргидроэнергострой</h3>
            </a> 
        </div> <!-- /partners__offer -->

       <div class="partners__offer">
            <a class="partners__item" href="http://new.vn.ukravtodor.gov.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/4.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Служба автомобильных дорог в Винницкой обл.</h3>
            </a>

            <a class="partners__item" href="http://new.km.ukravtodor.gov.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/5.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Служба автомобильных дорог в Хмельницкой обл.</h3>
            </a>

            <a class="partners__item" href="http://new.cv.ukravtodor.gov.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/6.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Служба автомобильных дорог в Черновицкой обл.</h3>
            </a>
        </div> <!-- /partners__offer -->

       <div class="partners__offer">
            <a class="partners__item" href="http://rv.ukravtodor.gov.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/7.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Служба автомобильных дорог в Ровенской обл.</h3>
            </a> 

            <a class="partners__item" href="https://aet.in.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/8.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Альянс Энерго Трейд</h3>
            </a>

            <a class="partners__item" href="http://stl.net.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/9.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Союз Транс Лайн</h3>
            </a>
        </div> <!-- /partners__offer -->

        <div class="partners__offer">
            <a class="partners__item" href="http://asbud.com.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/10.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Асбуд-Украина</h3>
            </a>

            <a class="partners__item" href="https://www.zeppelin.ua/" target="_blank">
                <img class="partners__photo" src="{{ 'assets/images/logos/11.png'|theme }}" alt="">
                <h3 class="partners__subtitle">Цеппелин Украина</h3>
            </a> 
        </div> <!-- /partners__offer -->
    </div> <!-- /data-slider -->
</div>