<div class="services">
    <div class="services__item  services__item--border">
        <img class="services__icon" src="{{ 'assets/images/services/1.png'|theme }}" alt="">

        {% component 'contenteditor' file="services/item1/title.htm" fixture="div" class="services__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

        {% component 'contenteditor' file="services/item1/text.htm" fixture="div" class="services__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
    </div>
    <div class="services__item  services__item--border">
        <img class="services__icon" src="{{ 'assets/images/services/2.png'|theme }}" alt="">

        {% component 'contenteditor' file="services/item2/title.htm" fixture="div" class="services__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

        {% component 'contenteditor' file="services/item2/text.htm" fixture="div" class="services__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
    </div>
    <div class="services__item  services__item--border">
        <img class="services__icon" src="{{ 'assets/images/services/3.png'|theme }}" alt="">

        {% component 'contenteditor' file="services/item3/title.htm" fixture="div" class="services__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

        {% component 'contenteditor' file="services/item3/text.htm" fixture="div" class="services__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
    </div>
    <div class="services__item">
        <img class="services__icon" src="{{ 'assets/images/services/4.png'|theme }}" alt="">

        {% component 'contenteditor' file="services/item4/title.htm" fixture="div" class="services__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

        {% component 'contenteditor' file="services/item4/text.htm" fixture="div" class="services__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
    </div>
    <div class="services__item">
        <img class="services__icon" src="{{ 'assets/images/services/5.png'|theme }}" alt="">

        {% component 'contenteditor' file="services/item5/title.htm" fixture="div" class="services__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

        {% component 'contenteditor' file="services/item5/text.htm" fixture="div" class="services__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
    </div>
    <div class="services__item">
        <img class="services__icon" src="{{ 'assets/images/services/6.png'|theme }}" alt="">

        {% component 'contenteditor' file="services/item6/title.htm" fixture="div" class="services__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

        {% component 'contenteditor' file="services/item6/text.htm" fixture="div" class="services__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
    </div>
</div>