<div class="statistics">
    <div class="container">
        <div class="section__statistics">
            {% component 'contenteditor' file="statistics/title.htm" fixture="h2" class="section__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
        </div>

        <div class="stat">
            <div class="stat__item">
                {% component 'contenteditor' file="statistics/item1/count.htm" fixture="div" class="stat__count" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                {% component 'contenteditor' file="statistics/item1/text.htm" fixture="div" class="stat__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            </div>
            <div class="stat__item">
                {% component 'contenteditor' file="statistics/item2/count.htm" fixture="div" class="stat__count" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                {% component 'contenteditor' file="statistics/item2/text.htm" fixture="div" class="stat__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            </div>
            <div class="stat__item">
                {% component 'contenteditor' file="statistics/item3/count.htm" fixture="div" class="stat__count" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                {% component 'contenteditor' file="statistics/item3/text.htm" fixture="div" class="stat__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            </div>
            <div class="stat__item">
                {% component 'contenteditor' file="statistics/item4/count.htm" fixture="div" class="stat__count" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                {% component 'contenteditor' file="statistics/item4/text.htm" fixture="div" class="stat__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            </div>
            <div class="stat__item">
                {% component 'contenteditor' file="statistics/item5/count.htm" fixture="div" class="stat__count" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                {% component 'contenteditor' file="statistics/item5/text.htm" fixture="div" class="stat__text" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            </div>
        </div>

    </div>
</div>