<div class="wedo">
    <div class="wedo__item">
        <img class="wedo__img" src="{{ 'assets/images/wedo(2).jpg'|theme }}" alt="">
    </div>

    <div class="wedo__item">

        <div class="accordion">
            <div class="accordion__item" data-collapse="#wedo_1">
                <div class="accordion__header">
                    <img class="accordion__icon" src="{{ 'assets/images/services/1.png'|theme }}" alt="">
                    {% component 'contenteditor' file="wedo/item1/section-title.htm" fixture="div" class="accordion__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
                <div class="accordion__content" id="wedo_1">
                    <div class="accordion__content-text">
                        {% component 'contenteditor' file="wedo/item1/content-title.htm" fixture="h3" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                        {% component 'contenteditor' file="wedo/item1/content-text.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                        {% component 'contenteditor' file="wedo/item1/content-subtitle.htm" fixture="h3" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                        {% component 'contenteditor' file="wedo/item1/content-list.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                    </div>
                </div>
            </div>

            <div class="accordion__item active" data-collapse="#wedo_2">
                <div class="accordion__header">
                    <img class="accordion__icon" src="{{ 'assets/images/services/2.png'|theme }}" alt="">
                    {% component 'contenteditor' file="wedo/item1/section-title.htm" fixture="div" class="accordion__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
                <div class="accordion__content" id="wedo_2">
                    <div class="accordion__content-text">
                        {% component 'contenteditor' file="wedo/item2/content-title.htm" fixture="h3" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                        {% component 'contenteditor' file="wedo/item2/content-text.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                        {% component 'contenteditor' file="wedo/item2/content-title1.htm" fixture="h3" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                        {% component 'contenteditor' file="wedo/item2/content-text1.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                        {% component 'contenteditor' file="wedo/item2/content-list.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                        {% component 'contenteditor' file="wedo/item2/content-title2.htm" fixture="h3" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                        {% component 'contenteditor' file="wedo/item2/content-text2.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                    </div>
                </div>
            </div>

            <div class="accordion__item" data-collapse="#wedo_3">
                <div class="accordion__header">
                    <img class="accordion__icon" src="{{ 'assets/images/services/3.png'|theme }}" alt="">
                    {% component 'contenteditor' file="wedo/item3/section-title.htm" fixture="div" class="accordion__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
                <div class="accordion__content" id="wedo_3">
                    {% component 'contenteditor' file="wedo/item3/content-title.htm" fixture="h3" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                    {% component 'contenteditor' file="wedo/item3/content-text.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
            </div>

            <div class="accordion__item" data-collapse="#wedo_4">
                <div class="accordion__header">
                    <img class="accordion__icon" src="{{ 'assets/images/services/4.png'|theme }}" alt="">
                    {% component 'contenteditor' file="wedo/item4/section-title.htm" fixture="div" class="accordion__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
                <div class="accordion__content" id="wedo_4">
                    {% component 'contenteditor' file="wedo/item4/content-title.htm" fixture="h3" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                    {% component 'contenteditor' file="wedo/item4/content-text.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
            </div>

            <div class="accordion__item" data-collapse="#wedo_5">
                <div class="accordion__header">
                    <img class="accordion__icon" src="{{ 'assets/images/services/5.png'|theme }}" alt="">
                    {% component 'contenteditor' file="wedo/item5/section-title.htm" fixture="div" class="accordion__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
                <div class="accordion__content" id="wedo_5">
                    {% component 'contenteditor' file="wedo/item5/content-title.htm" fixture="h3" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                    {% component 'contenteditor' file="wedo/item5/content-text.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
            </div>

            <div class="accordion__item" data-collapse="#wedo_6">
                <div class="accordion__header">
                    <img class="accordion__icon" src="{{ 'assets/images/services/6.png'|theme }}" alt="">
                    {% component 'contenteditor' file="wedo/item6/section-title.htm" fixture="div" class="accordion__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
                <div class="accordion__content" id="wedo_6">
                    {% component 'contenteditor' file="wedo/item6/content-title.htm" fixture="h3" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                    {% component 'contenteditor' file="wedo/item6/content-text.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
            </div>
        </div><!-- /.accordion -->

    </div><!-- /.wedo__item -->
</div><!-- /.wedo -->