[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "project"
postsPerPage = 7
noPostsMessage = "Проекта не найдено"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "project"
==
{% set project = blogPosts.posts %}
<div class="works">

    {% for project in project %}
    
    <div class="works__col">
        <div class="works__item">
            <a class="works__item-link" href="{{ project.url }}">
                {% for image in project.featured_images|slice(0,1) %}
                    <img class="works__image  works__image-medium" src="{{ image.path }}" alt="{{ project.title }}">
                {% endfor %}
                <div class="works__info">
                    <div class="works__title">{{ project.title }}</div>
                    <div class="works__text">{{ project.excerpt }}</div>
                </div>
            </a>
        </div>

        <!-- <div class="works__item">
            <a class="works__item-link" href="#">
                <img class="works__image  works__image-medium" src="{{ 'assets/images/works/17.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">Проект №2</div>
                    <div class="works__text">Строительство дороги Н-31 Днепр - Решетиловка</div>
                </div>

                <div class="works__footer">
                    <div class="works-stat">
                        <span class="works-stat__item">
                            <i class="fas fa-map-marker-alt"></i>
                            <b><span class="works-stat__title">Регион</span></b>
                            <span class="works-stat__description">Харьковская обл.</span>
                        </span>
                        <span class="works-stat__item">
                            <i class="fas fa-arrows-alt-h"></i>
                            <b><span class="works-stat__title">Объем работ</span></b>
                            <span class="works-stat__description">3,00 км - 132,00 км</span>
                        </span>
                    </div>
                </div>
            </a>
        </div> -->
    </div>
    {% else %}
        {{ noPostsMessage }}

    {% endfor %}




   <!--  <div class="works__col">
        <div class="works__item">
            <a class="works__item-link" href="#">
                <img class="works__image  works__image-medium" src="{{ 'assets/images/works/18.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">Проект №3</div>
                    <div class="works__text">Ремонт дорог местного значения</div>
                </div>

                <div class="works__footer">
                    <div class="works-stat">
                        <span class="works-stat__item">
                            <i class="fas fa-map-marker-alt"></i>
                            <b><span class="works-stat__title">Регион</span></b>
                            <span class="works-stat__description">Харьковская обл.</span>
                        </span>
                        <span class="works-stat__item">
                            <i class="fas fa-arrows-alt-h"></i>
                            <b><span class="works-stat__title">Объем работ</span></b>
                            <span class="works-stat__description">0 - 50 км</span>
                        </span>
                        <span class="works-stat__item">
                            <i class="fas fa-globe-americas"></i>
                            <b><span class="works-stat__title">Населенный пункт</span></b>
                            <span class="works-stat__description">Малая Рогань</span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        <div class="works__item">
            <a class="works__item-link" href="#">
                <img class="works__image  works__image-medium" src="{{ 'assets/images/works/19.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">Проект №4</div>
                    <div class="works__text">Ремонт автодороги Т-21-01 / М-18</div>
                </div>

                <div class="works__footer">
                    <div class="works-stat">
                        <span class="works-stat__item">
                            <i class="fas fa-map-marker-alt"></i>
                            <b><span class="works-stat__title">Регион</span></b>
                            <span class="works-stat__description">Харьковская обл.</span>
                        </span>
                        <span class="works-stat__item">
                            <i class="fas fa-arrows-alt-h"></i>
                            <b><span class="works-stat__title">Объем работ</span></b>
                            <span class="works-stat__description">0 - 20 км</span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="works__col">
        <div class="works__item">
            <a class="works__item-link" href="#">
                <img class="works__image works__image-large" src="{{ 'assets/images/works/15.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">Проект №5</div>
                    <div class="works__text">Капитальный ремонт улиц Харькова</div>
                </div>

                <div class="works__footer">
                    <div class="works-stat">
                        <span class="works-stat__item">
                            <i class="fas fa-map-marker-alt"></i>
                            <b><span class="works-stat__title">Регион</span></b>
                            <span class="works-stat__description">Харьковь</span>
                        </span>
                        <span class="works-stat__item">
                            <i class="fas fa-arrows-alt-h"></i>
                            <b><span class="works-stat__title">Объем работ</span></b>
                            <span class="works-stat__description">20 - 150 км</span>
                        </span>
                        <span class="works-stat__item">
                            <i class="fas fa-globe-americas"></i>
                            <b><span class="works-stat__title">Улицы</span></b>
                            <span class="works-stat__description">Фонвизина</span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="works__col">
        <div class="works__item">
            <a class="works__item-link" href="#">
                <img class="works__image  works__image-medium" src="{{ 'assets/images/works/20.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">Проект №6</div>
                    <div class="works__text">Ремонт автомобильной дороги Р-51</div>
                </div>

                <div class="works__footer">
                    <div class="works-stat">
                        <span class="works-stat__item">
                            <i class="fas fa-map-marker-alt"></i>
                            <b><span class="works-stat__title">Регион</span></b>
                            <span class="works-stat__description">Харьковская обл.</span>
                        </span>
                        <span class="works-stat__item">
                            <i class="fas fa-arrows-alt-h"></i>
                            <b><span class="works-stat__title">Объем работ</span></b>
                            <span class="works-stat__description">3,00 км - 132,00 км</span>
                        </span>
                    </div>
                </div>
            </a>
        </div>

        <div class="works__item">
            <a class="works__item-link" href="#">
                <img class="works__image  works__image-medium" src="{{ 'assets/images/works/21.jpg'|theme }}" alt="">
                <div class="works__info">
                    <div class="works__title">Проект №7</div>
                    <div class="works__text">Строительство автодороги Н-30 Василівка-Бердянськ</div>
                </div>
                <div class="works__footer">
                    <div class="works-stat">
                        <span class="works-stat__item">
                            <i class="fas fa-map-marker-alt"></i>
                            <b><span class="works-stat__title">Регион</span></b>
                            <span class="works-stat__description">Сумская обл.</span>
                        </span>
                        <span class="works-stat__item">
                            <i class="fas fa-arrows-alt-h"></i>
                            <b><span class="works-stat__title">Объем работ</span></b>
                            <span class="works-stat__description">3,00 км - 132,00 км</span>
                        </span>
                    </div>
                </div>
            </a>
            
        </div>
    </div> -->
</div><!-- /.works -->