<p>Компания уверенно занимает первое место в отрасли по объемам выполняемых работ, производственному потенциалу, капитальным инвестициям.</p>

<p>Компания впервые вышла на рынок дорожного строительства в 2004 году. Небольшая региональная подрядная фирма имела в своем составе несколько десятков сотрудников и небольшое количество техники. Шаг за шагом была построена мощная национальная автодорожная компания, которой под силу реализация самых сложных задач и проектов.</p>