{% set posts = __SELF__.posts %}

<div class="comments" id="comments-content">
    {% if(__SELF__.count) > 0 %}
        <h3 class="comments__count">
            <span id="comments-count">{{ __SELF__.count }}</span> comments
        </h3>
    {% endif %}
    {% if(user or __SELF__.settings.allow_guest) %}

        {% partial "commentsPost::form" %}

    {% endif %}
    <div class="comments__list">
        <ul>
            {% partial "commentsPost::list" posts=posts %}
        </ul>
    </div>
</div>


