<div id="wrap-comment-form">
    <div class="row" id="comment-form">

        <h2 class="comments__reply">Add comment
            <small><a onclick="Comment.cancel()" style="display: none;" rel="nofollow" id="cancel-comment-reply-link"
                      title="Cancel reply">×</a>
            </small>
        </h2>
        <form class="comments__form">
            <div id="comment_flash_message"></div>
            {% if(user == false) %}
                <!-- Name Field -->
                <div class="form-group">
                    <input class="form__input" placeholder="Name" class="form-control" name="author" type="text">
                </div>

                <!-- Email Field -->
                <div class="form-group">
                    <input class="form__input" placeholder="Email" class="form-control" name="email" type="text">
                </div>
            {% endif %}
            <!-- Content Field -->
            <div class="form-group">
                <textarea class="form__textarea" placeholder="Leave a comment ..." class="form-control" id="comment-text" name="content"
                          cols="50" rows="10"></textarea>
            </div>

            <input name="post_id" type="hidden" value="{{__SELF__.post_id}}">

            {% if (__SELF__.settings.recaptcha_enabled) %}  
            <div class="g-recaptcha" data-sitekey="{{ __SELF__.settings.site_key }}"></div>
            <br>
            {% endif %}

            <!-- Submit Field -->
            <div class="form-group">
                <button type="submit" class="btn btn--red" onclick="Comment.saveButton(event)">Send</button>
            </div>
        </form>
    </div>
</div>


