<form class="subscribe" name="form-subscribe-andradedev" id="form-subscribe-andradedev" data-request="{{ __SELF__ }}::onAddSubscriber" data-request-update="'{{__SELF__}}::alert': '#result'">
    <input class="subscribe__input" type="email" name="email" placeholder="Your Email...">
    <textarea class="subscribe__textarea" rows="7" name="text" placeholder="Сообщение"></textarea>

    <input type="hidden" name="latitude" id="latitude">
    <input type="hidden" name="longitude" id="longitude">

    <button class="subscribe__btn" form="form-subscribe-andradedev">Отправить</button>
</form>

<div id="result"></div>
