<p>
	В процессе эксплуатации автодороги разрушается не только верхний слой дорожного покрытия, но и происходит просадка и повреждение грунтов под его основанием.
</p>
<p>
	Разрушение основания дорожного полотна происходит в следствие естественной нагрузки на автодорогу (вибрации и динамические нагрузки от активного трафика), а также  в силу различных природных явлений, таких как подмыв грунта, эрозии и выветривания.
</p>
<p>
	Качественное восстановление несущей способности оснований очень важный этап ремонтных работ, поскольку он позволяет:
</p>