<p>
	Фрезерование дорожного покрытия – это удаление (срезание) дефектного слоя асфальтобетонного покрытия и текстурирование поверхности дорожного полотна для подготовки поверхности к укладке нового покрытия.
</p>
<p>
	Это современный и очень эффективный способ выполнения ремонтных работ. При фрезеровании старый асфальтобетон превращается в сыпучий строительный материал – гранулят, состоящий из кусков старого покрытия определенного размера, который можно применять повторно.
</p>
<p>
	Фрезерование выполняется при помощи специальной техники, которая называется фрезами. Компания “Дороги Украины” располагает самыми современными моделями фрезы, оснащенными электронными системами контроля точности работы.
</p>