description = "Default layout"

[SeoCmsPage]
==
<!DOCTYPE html>
<html lang="ru">
<head>
   {% partial 'head' %}
   {% component 'SeoCmsPage' %}
</head>
<body>

<!-- Header -->
{% partial 'header' %}

<!-- Page -->
<div class="page">

    <!-- Content -->
    {% page %}

    <!-- Footer -->
    {% partial 'footer' %}
</div><!-- /.page -->



<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ 'assets/js/app.js'|theme }}"></script>

{% framework extras %}
{% scripts %}

</body>
</html>