title = "Road Construction | HomePage"
url = "/"
layout = "default"
meta_title = "HomePage"
meta_description = "Description"
is_hidden = 0
seo_keywords = "Keywords"
robot_index = "index"
robot_follow = "follow"

[contenteditor]

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "disabled"
thanksMessage = "Thanks for subscribe!"
errorMessage = "Email already exists!"
==
<!-- Intro -->
{% partial 'intro' %}

<!-- About -->
<section class="section" id="about">
    <div class="container">

        <div class="section__header">
            {% component 'contenteditor' file="about/section-suptitle.htm" fixture="h3" class="section__suptitle" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %} 

            {% component 'contenteditor' file="about/section-title.htm" fixture="h2" class="section__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            <div class="section__text">
                <div>
                    {% component 'contenteditor' file="about/title.htm" fixture="h4" class="section__text-title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                    {% component 'contenteditor' file="about/text.htm" fixture="p" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>

                <div>
                    {% component 'contenteditor' file="about/title-mission.htm" fixture="h4" class="section__text-title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                    {% component 'contenteditor' file="about/text-mission.htm" fixture="p" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>

            </div>
        </div>

		{% partial 'about' %}


    </div><!-- /.container -->
</section>

<!-- Statistics -->
{% partial 'statistics' %}

<!-- Services -->
<section class="section  no-padding" id="services">
    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">Только лучшее</h3>
            <h2 class="section__title">Наши услуги</h2>
        </div>

		{% partial 'services' %}

    </div><!-- /.container -->
</section>

<!-- Wedo -->
<section class="section  no-padding">
    <div class="container">

        <div class="section__header">
            <div class="section__text glass-bg">
                {% component 'contenteditor' file="wedo/section-text.htm" fixture="p" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            </div>
        </div>

		{% partial 'wedo' %}

    </div>
</section>

<!-- Advantages -->
<section class="section  no-padding" id="advantages">
    <div class="container">

        <div class="section__header">
            {% component 'contenteditor' file="advantages/suptitle.htm" fixture="h3" class="section__suptitle" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

            {% component 'contenteditor' file="advantages/title.htm" fixture="h2" class="section__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            <div class="section__text  glass-bg">
                <div>
                    {% component 'contenteditor' file="advantages/text.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
            </div>
        </div>

		{% partial 'advantages' %}

    </div><!-- /.container -->
</section>

<!-- Works -->
<section class="section" id="works">
    <div class="container">

        <div class="section__header">
            {% component 'contenteditor' file="works/suptitle.htm" fixture="h3" class="section__suptitle" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

            {% component 'contenteditor' file="works/title.htm" fixture="h2" class="section__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
            <div class="section__text">
                <div>
                    {% component 'contenteditor' file="works/title-text.htm" fixture="h4" class="section__text-title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

                    {% component 'contenteditor' file="works/text.htm" fixture="" class="" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
                </div>
            </div>
        </div>
    </div>

	{% partial 'works' %}
</section>

<!-- Partners -->
<div class="section  section--partners" id="partners">
    <div class="container">

        <div class="section__header">
            {% component 'contenteditor' file="partners/title.htm" fixture="h2" class="section__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
        </div>

		{% partial 'partners' %}

    </div> <!-- /container -->
</div>

<!-- Clients -->
<section class="section  section--clients">
    <div class="container">

        <div class="section__header">
            {% component 'contenteditor' file="clients/title.htm" fixture="h2" class="section__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
        </div>

		{% partial 'clients' %}

    </div><!-- /.container -->
</section>

<!-- Blog -->
<section class="section" id="blog">
    <div class="container">

        <div class="section__header">
            {% component 'contenteditor' file="blog/suptitle.htm" fixture="h3" class="section__suptitle" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}

            {% component 'contenteditor' file="blog/title.htm" fixture="h2" class="section__title" tools="bold,italic,align-left,align-center,align-right,link,small,paragraph,unordered-list,ordered-list" %}
        </div>

		{% partial 'blog' %}

    </div><!-- /.container -->
</section>

<!-- Map -->
<section class="section  section--map">
    <div class="container">
		{% partial 'map' %}
    </div>
</section>