title = "Blog Post"
url = "/post/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "home"

[commentsPost]

[SeoBlogPost]
post = "post"

[contenteditor]

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "disabled"
thanksMessage = "Thanks for subscribe!"
errorMessage = "Email already exists!"
==
{% component 'SeoBlogPost' data=post %}

<section class="section  section--post">
	<div class="container">
		
		<div class="section__header">
            <h2 class="section__title">{{ post.title }}</h2>
            <div class="section__text  section__text--large  glass-bg">
                {{ post.excerpt }}
            </div>
        </div>

        <div class="post">
        	{{ post.content_html|raw }}
        </div>

        <a class="btn  btn--red" href="{{ 'home'|page }}">Вернуться на главную страницу</a>

        {% component 'commentsPost' %}
	</div>
</section>