<ol>
    <li>
        Подготовительный этап
    </li>
    <li>
        Сооружение земляного полотна (подготовка дорожного основания, уплотнение грунта и укрепление откосов)
    </li>
    <li>
        Введение специальных прослоек в земляное полотно (с учетом особенностей рельефа и грунта для улучшения морозоустойчивости, дренирующих свойств и других параметров насыпи)
    </li>
    <li>
        Сооружение дорожной одежды: основания, промежуточных слоев и покрытия
    </li>
    <li>
        Асфальтирование
    </li>
</ol>