<p>
	Разработка проекта является определяющим этапом в процессе строительства автомобильных дорог и обеспечивает основу качественного выполнения всех видов работ.
</p> 
<p>
	Проектирование дорог – это комплекс проектных работ, направленный на разработку новых автодорог или модернизацию уже существующей дорожно-транспортной инфраструктуры.
</p>
<p>
	В процессе проектных работ выполняются расчеты строительства дорожного полотна, элементов дорожной инфраструктуры, инженерных сооружений для обеспечения безопасных условий дорожного движения и объектов дорожного сервиса, учитывая природные условия (рельеф местности, климатические особенности), технические нормы и планируемую нагрузку.
</p>